body {
  font-family: "Roboto", sans-serif;
}

#login {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

#user {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

h1 {
  text-align: center;
}

#error {
  padding: 1em;
  background-color: lightpink;
  border-radius: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  visibility: hidden;
}

#errortext {
  margin: 0em;
}

table {
	table-layout: fixed;
}

th {
	text-align: left;
    vertical-align: top;
}

td {
    vertical-align: top;
}

span {
  cursor: pointer;
  float: right;
}

input {
  border-radius: 0.3em;
  border-style: solid;
  border-color: steelblue;
  box-sizing: border-box;
  padding-left: 0.5em;
  height: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: white;
  border-radius: 0.3em;
  border-style: solid;
  box-shadow: none;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  border-width: 1px;
}

.passkeys {
}

.passkey {
  padding: 0.5em;
}

.passkey-name {
}

.passkey-date {
  color: grey;
}

.passkey-date > .registered_at {
  display: inline;
}

.passkey-info {
  max-height: 0;
  overflow: hidden;
}

.passkey-info.expanded {
  max-height: 500em;
  transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
}

.passkey-info-element {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.passkey-public-data {
  word-break: break-all;
  color: grey;
}

.passkey-synced-data {
  color: grey;
}
