body {
  font-family: "Roboto", sans-serif;
}

#login {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

#user {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

h1 {
  text-align: center;
}

#error {
  padding: 1em;
  background-color: lightpink;
  border-radius: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  visibility: hidden;
}

#errortext {
  margin: 0em;
}

#reauth-dialog {
  padding: 1em;
  background-color: #f9f9f9;
  border-radius: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  visibility: hidden;
}

#register_username {
  border-radius: 0.3em;
  border-style: solid;
  border-color: steelblue;
  box-sizing: border-box;
  padding-left: 0.5em;
  height: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
}

table {
	table-layout: fixed;
}

th {
	text-align: left;
    vertical-align: top;
}

td {
    vertical-align: top;
}

span {
  cursor: pointer;
  float: right;
}

button {
  cursor: pointer;
  background-color: white;
  border-radius: 0.3em;
  border-style: solid;
  box-shadow: none;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  border-width: 1px;
}

.passkey {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.passkey-date {
  color: grey;
}

.passkey-date > .registered_at {
  display: inline;
}

.passkey-info {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
}

.passkey-info.expanded {
  max-height: 60em;
}

.passkey-info-element {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.passkey-info-element-data {
  color: grey;
  word-break: break-all;
}

.reauth-element-data {
  color: grey;
  padding-bottom: 0.5em;
  word-break: break-all;
}

#reauth {
  display: flex;
}

#reauth > span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5em;
}

#reauth-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
}

#reauth-info.expanded {
  max-height: 20em;
}

#addkey {
  display: flex;
}

#addkey > span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5em;
}

#navbar {
  display: flex;
  height: 2em;
}

#navbar > div {
  margin-top: auto;
  margin-bottom: auto;
}

#navbar > a {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

#addkey-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
}

#addkey-info.expanded {
  max-height: 20em;
}

#attestation-select {
  height: 2em;
}

.addkey-info-section {
  margin-bottom: 0.5em;
}

.attestation-link {
  float: none;
  font-size: 18px;
}

.reauth-keys {
  margin-top: 0.5em; 
}

.reauth-keys span {
  font-size: 18px;
}
