<!doctype html>
<html lang="en-US">
  <head>
    {{ template "header.html.tmpl" }}
  </head>
  <body>
    <div id="user">
	  <h1>WebAuthn example app</h1>
	  <h2>Hello, {{.Username}}</h2>
	  <h2>Passkeys</h2>
      <p>Passkeys associated with your account.</p>
      <div class="passkeys">
        {{ range .Passkeys }}
        <div class="passkey">
          <span class="passkey-menu material-symbols-outlined">menu</span>
          <div class="passkey-name">{{ .Name }}</div>
          <div class="passkey-date">Added <div class="registered_at" value="{{ .CreatedAt }}"></div></div>
		  <div class="passkey-info">
            <div class="passkey-public passkey-info-element">
              <div class="passkey-public-name">Public key</div>
              <div class="passkey-public-data">
                {{ .Algorithm }}<br>
                {{ .Public }}
              </div>
            </div>
            <div class="passkey-synced passkey-info-element">
              <div>Status</div>
              <div class="passkey-synced-data">
                {{ if .BackedUp }}Backed up{{ else }}Not backed up{{ end }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
	  <button type="button" onclick="appRegisterKey()">Add passkey</button>
	  <h2>Reauth</h2>
      <p>Challenge your passkeys.</p>
      <button type="button", onclick="appReauth()">Reauthenticate</button>
	  <h2>Logout</h2>
      <a href="/logout">
        <button>Logout</button>
      </a>
      <div id="error">
       <span class="material-icons" onclick="appHideError()">
        close
       </span>
       <p id="errortext"></p>
      </div>
    </div>
  </body>
</html>
