<!doctype html>
<html lang="en-US">
  <head>
    {{ template "header.html.tmpl" }}
  </head>
  <body>
    <div id="user">
	  <h1>WebAuthn example app</h1>
	  <div id="navbar">
        <div>{{.Username}}</div>
        <a href="/logout">
        <span class="material-symbols-outlined">logout</span>
        </a>
      </div>
	  <h2>Passkeys</h2>
      <p>Passkeys associated with your account.</p>
      <div class="passkeys">
        {{ range .Passkeys }}
        <div class="passkey">
          <span class="passkey-menu material-symbols-outlined">menu</span>
          <div class="passkey-name">{{ .Name }}</div>
          <div class="passkey-date">Added <div class="registered_at" value="{{ .CreatedAt }}"></div></div>
		  <div class="passkey-info">
            <div class="passkey-info-element">
              <div>ID</div>
              <div class="passkey-info-element-data">{{ .ID }}</div>
            </div>
            <div class="passkey-info-element">
              <div>Status</div>
              <div class="passkey-info-element-data">
                {{ if .BackedUp }}Backed up{{ else }}Not backed up{{ end }}
              </div>
            </div>
            <div class="passkey-info-element">
              <div>Transport</div>
              <div class="passkey-info-element-data">
                {{ range .Transports }}{{ . }} {{end}}
              </div>
            </div>
            <div class="passkey-info-element">
              <div>Client data</div>
              <div class="passkey-info-element-data">{{ .ClientData }}</div>
            </div>
            <div class="passkey-info-element">
              <div>Public key</div>
              <div class="passkey-info-element-data">
                {{ .Algorithm }}<br>
                {{ .Public }}
              </div>
            </div>
            <div class="passkey-info-element">
              <div>Attestation object</div>
              <div class="passkey-info-element-data">
                {{ .AttestationFormat }}<br>
                {{ .AttestationObject }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div id="addkey">
	    <button type="button" onclick="appRegisterKey()">Add passkey</button>
        <span id="addkey-more" class="material-symbols-outlined">
        page_info
        </span>
      </div>
      {{ template "create.html.tmpl" }}
      <p>Challenge your passkeys.</p>
      <div id="reauth">
        <button type="button" onclick="appReauth()">Reauthenticate</button>
        <span id="reauth-more" class="material-symbols-outlined">
        page_info
        </span>
      </div>
      <div id="reauth-info">
        <div>
          <label>Hints</label>
          <a href=""https://www.w3.org/TR/webauthn-3/#enum-hints>
            <span class="material-symbols-outlined attestation-link">link</span>
          </a>
          <div>
            <input type="checkbox" class="reauth-hint" value="security-key" />
            <label>security-key</label>
          </div>
          <div>
            <input type="checkbox" class="reauth-hint" value="client-device" />
            <label>client-device</label>
          </div>
          <div>
            <input type="checkbox" class="reauth-hint" value="hybrid" />
            <label>hybrid</label>
          </div>
        </div>
        <div class="reauth-keys">
          <label>Allowed credentials</label>
          {{ range .Passkeys }}
          <div class="reauth-key">
            <input type="checkbox" class="reauth-key-id" value="{{ .ID }}" data-transport="{{ range .Transports }}{{ . }} {{ end}}" checked />
            <label>{{ .Name }}</label>
          </div>
          {{ end }}
        </div>
      </div>
      <div id="reauth-dialog">
        <span class="material-icons" onclick="appHideReauth()">
         close
        </span>
        <div class="passkey-info-element">
          <div>Challenge</div>
          <div id="reauth-challenge" class="reauth-element-data"></div>
          <div>Client data</div>
          <div id="reauth-client-data" class="reauth-element-data"></div>
          <div>Authenticator data</div>
          <div id="reauth-auth-data" class="reauth-element-data"></div>
          <div>Signature</div>
          <div id="reauth-signature" class="reauth-element-data"></div>
          <div>User handle</div>
          <div id="reauth-user-handle" class="reauth-element-data"></div>
        </div>
      </div>
      <div id="error">
       <span class="material-icons" onclick="appHideError()">
        close
       </span>
       <p id="errortext"></p>
      </div>
    </div>
  </body>
</html>
